.main {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
    min-height: 100dvh;
    padding: 0 26px min(10svh, 86px);
    /* background: linear-gradient(150deg, #9f7ee0, #ede4ff 60%); */
    background: linear-gradient(140deg, var(--color-primary-container), var(--color-surface) 55%);

    font-size: 1.5rem;

    & > section {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    & h1 {
        font-size: 3.5rem;
        font-weight: 900;
    }

    & h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.mascot {
    /* image-rendering: pixelated; */
    margin-bottom: 0.5rem;
}
