.list > li {
    list-style: none;
    width: fit-content;

    & > a {
        display: inline-block;
        padding: 0.9rem 1.8rem;
        text-decoration: none;
        color: inherit;
    }

    & > a[data-primary="true"] {
        font-weight: bold;
    }

    & > a:not([data-primary="true"]) {
        text-decoration: underline wavy currentColor 0.05em;
    }

    & > a:not([data-primary="true"])::before {
        content: "or";
        display: inline-block;
        text-decoration: none;
        margin-inline-end: 0.3em;
    }
}

.list[data-align="left"] > li {
    margin-inline-end: auto;
}

.list[data-align="center"] > li {
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.list[data-align="right"] > li {
    margin-inline-start: auto;
}

.indicator {
    position: fixed;
    pointer-events: none;
    border-radius: 100vh;
    backdrop-filter: invert(1) hue-rotate(180deg);
    transition: all var(--motion-duration-medium4) var(--motion-easing-emphasized);
}
